<div class="container">
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
    <% end %>

  <div class="d-none d-sm-block">
  <%= link_to "Contact", contact_path, class: "btn btn-link" %>
</div>
</div>
</div>
