  .image-container {
  display: flex;
}

@media (max-width: 767px) {
  .image-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
}

.temp {
  min-height: 20vh;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 70px;
  h1{
    font-weight: bold;
    font-size: 54px;
    margin-bottom: 30px;
}
}


.image-1 {
  width: 100%; // was 22vw
  height: auto;
  max-width: 400px;
  min-width: 200px;
  display: block; // was flex
  // justify-content: right;
  align-items: center;
  position: relative;
  overflow: auto;
  box-sizing: border-box;
}

.first {
  min-height: 60vh;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 170px;

  h1{
    font-weight: bold;
    font-size: 54px;
  }

  h3 {
    color: #A6A6A6;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  p {
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .first {
    margin-bottom: 40px;
    margin-top: 10px;
    h1{
      font-size: 24px;
    }
    h3{
      font-size: 18px;
    }
  }

  .topbanner {
    order: -1;
    margin-bottom: 20px;
  }
  .topbanner-2 {
   order: -1;
   margin-bottom: 20px;
 }
}

.red-text {
  color: #EB4F34;
}

.row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-text: center;
  text-align: center;
  h2 {
    font-weight: bold;
    font-size: 39px;
  }

  p {
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 18px;
  }
}

@media (max-width: 767px) {

  .row-1 {
    h1 {
      font-size: 24px;
    }
    h2 {
      font-size: 24px;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .first {
    margin-top: 0px;
    margin-bottom: 0px;
    h1 {
      font-size: 32px;
    }
  }
  .row-1 {
    h2 {
      margin-top: 25px;
      font-size: 26px;
    }
  }

}

.container-text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 50px;

  p {
    margin-bottom: 30px;
    line-height: 30px;
    font-size: 18px;
  }
}

// @media (min-width: 320px) and (max-width: 580px) and (orientation: landscape) {
//   .topbanner {
//   order: -1;
//   margin-left: 92px;
//   margin-bottom: 20px;
// }
// .topbanner-2 {
//    order: -1;
//   margin-left: 40px;
//   margin-bottom: 20px;
//   }
//   }

// @media (min-width: 320px) and (max-width: 580px) and (orientation: portrait) {
//   .topbanner {
//   order: -1;
//   margin-left: 92px;
//   margin-bottom: 20px;
// }
// .topbanner-2 {
//    order: -1;
//   margin-left: 40px;
//   margin-bottom: 20px;
//   }
// }

// @media (min-width: 767px) and (max-width: 1024px) {
//   .topbanner {
//     order: -1;
//     margin-left: 92px;
//     margin-bottom: 20px;
//   }
//   .topbanner-2 {
//    order: -1;
//    margin-left: 40px;
//    margin-bottom: 20px;
//  }
// }



